<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
        <img style="margin:auto; padding: auto; height: 75%; max-height: auto;" src="img/cru-logo-white.png">
        <div ng-controller="PushController"></div>
    </ion-header-bar>
    <ion-content >
      <ion-list style="position: relative; top: 80%;">
        <ion-item class="item-divider item-dark">Get Involved</ion-item>
        <ion-item menu-close class="item-dark" style="border: 0;" href="#/app/events">
            <div class="ion-calendar">&nbsp;&nbsp; Events</div>
        </ion-item>
        <ion-item menu-close class="item-dark" style="border: 0;" href="#/app/missions">
            <div class="icon-left ion-earth">&nbsp;&nbsp; Summer Missions</div>
        </ion-item>
        <ion-item class="item-divider item-dark">Settings</ion-item>
        <ion-item menu-close class="item-dark" style="border: 0;" href="#/app/splash">
            <div class="icon-left ion-edit">&nbsp;&nbsp; Signup</div>
        </ion-item>
        <ion-item menu-close class="item-dark" style="border: 0;" href="#/app/settings">
            <div class="icon-left ion-gear-b">&nbsp;&nbsp; Settings</div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
