<ion-view view-title="Summer Missions">
  <ion-content>
      <div class="list card" ng-repeat="mission in missions">
        <div ng-click="goToMission(mission._id)">
            <div class="item">
                <h2><b>{{mission.name}}</b></h2>
                <p>{{mission.startDate}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{mission.image.url}}">
            </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>