<ion-view view-title="{{mySummerMission.name}}">
  <ion-content padding="true">
      <div class="list card">
        <div class="item">
            <h2>{{mySummerMission.name}}</h2>
            <p>Start: {{mySummerMission.startDate}}</p>
            <p>End: {{mySummerMission.endDate}}</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="{{mySummerMission.image.url}}">
            <p>{{mySummerMission.description}}</p>
        </div>
      </div>
      
      <button class="icon-left ion-android-calendar button button-block button-positive" ng-click="{{mySummerMission.url}}">Add to Calendar</button>
      <button class="icon-left ion-ios-information button button-block button-balanced" ng-click="showEventFacebook(mySummerMission.url)">Learn More</button>
      </div>
  </ion-content>
</ion-view>