<ion-view view-title="{{myEvent.name}}">
  <ion-content>
    <div class="list card">
        <div class="item">
            <h2>{{myEvent.name}}</h2>
            <p>{{myEvent.startDate}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="{{myEvent.image.url}}">
            <p>{{myEvent.url}}</p>
        </div>
        <form ng-action="">
            <button class="icon-left ion-android-calendar button button-block button-balanced" ng-click="{{myEvent.url}}">Add to Calendar</button>
        </form>
        <form ng-action="">
            <button class="icon-left ion-android-car button button-block button-calm" ng-click="">Get a ride</button>
        </form>
            <button class="icon-left ion-social-facebook button button-block button-positive" ng-click="showEventFacebook(myEvent.url)">Facebook</button>
      </div>
  </ion-content>
</ion-view>
