<ion-view>
  <ion-nav-title>{{title}}</ion-nav-title>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Articles" icon-off="ion-ios-browsers-outline" icon-on="ion-ios-browsers" href="#/app/resources/articles">
    <ion-nav-view name="resources-articles"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Videos" icon-off="ion-social-youtube-outline" icon-on="ion-social-youtube" href="#/app/resources/videos">
    <ion-nav-view name="resources-videos"></ion-nav-view>
  </ion-tab>


    </ion-tabs>
</ion-view>
