<ion-view view-title="Welcome">

  <ion-content>
    <div class="item item-body">

      <div style="height: 150px"></div>

      <div style="width: 100%; padding-bottom: 100px;">
        <img style="width: 300px; max-width: 100%; margin: 0 auto; display: block;" src="img/cru-logo.jpg">
      </div>

      <p>
        Welcome.
      </p>

    </div>
  </ion-content>

  <a class="bar bar-footer bar-balanced" href="#/app/campuses">
    <div class="title">Sign Up <b class="icon-right ion-arrow-right-c"></b></div>
  </a>

</ion-view>
