<ion-view view-title="Welcome">
  <ion-content>
    <div class="card">
      <div class="item">
        <h2>Welcome</h2>
      </div>
      <div class="item item-body">
        <div style="width: 100%;">
          <img style="width: 300px; max-width: 100%; margin: 0 auto; display: block;" src="img/cru-logo.jpg">
        </div>

        <div style="height: 50px"></div>

        <div style="width: 100%">
          <a class="button button-block button-positive" style="margin-left: auto; margin-right: auto;" href="#/app/campuses">
            Signup
          </a>
        </div>

        <div style="height: 50px"></div>

        <div>
          <uib-carousel interval="5000">
            <uib-slide>
              <img src="img/cru-slides/1.png" />
            </uib-slide>
            <uib-slide>
              <img src="img/cru-slides/2.png" />
            </uib-slide>
            <uib-slide>
              <img src="img/cru-slides/3.jpg" />
            </uib-slide>
          </uib-carousel>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
