<ion-view view-title="Welcome">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-body">
                <div class="splash-div">
                    <img class="splash-img" src="img/cru-logo.jpg">
                </div>
            </div>
        </div>
        <a class="button button-block button-dark" href="#/app/campuses">
            <div class="title">Sign Up <b class="icon-right ion-arrow-right-c"></b></div>
        </a>
    </ion-content>
</ion-view>
