*.xdk
/node_modules
/platforms
intelxdk*
*.xdke
/xdk
www/bower_components/moment/*
www/bower_components/ua-parser-js/*
www/bower_components/fastclick/*
.DS_Store
*.sublime-workspace
plugins/
npm-debug.log
