<ion-view view-title="Get Ride">
  <ion-content padding="true">
      <div class="list list-inset">
              <label class="item item-input">
                  <input type="text" placeholder="Name"></input>
              </label>
              <label class="item item-input">
                  <input type="tel" placeholder="Phone Number"></input>
              </label>
              <label class="item item-input">
                  <select>
                      <option selected>Round Trip</option>
                      <option>One Way (to Event)</option>
                      <option>One Way (from Event)</option>
                  </select>
              </label>
        </div>
    <button class="button button-energized button-block" ng-click="getRide()">Submit</button>
  </ion-content>
</ion-view>