<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Filter By:</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-close-round" ng-click="closeGroupFilterModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
			<label class="item item-input item-select" >
				<div class="input-label">
					I prefer to meet in the
				</div>
				<select ng-model="input.test">
					<option selected>Morning</option>
					<option>Afternoon</option>
					<option>Evening</option>
				</select>
			</label>
			<div class="item">
				On these days
				<div ng-repeat="day in days">
					<ion-checkbox ng-model="day.checked">{{day.name}}</ion-checkbox>
				</div>
			</div>
			<label class="item item-input item-select">
				<div class="input-label">
					My gender is
				</div>
				<select>
					<option selected>Male</option>
					<option>Female</option>
					<option>Other</option>
				</select>
			</label>
			<label class="item no-border-bottom">
				<button class="button button-block button-positive" ng-click="filterGroups(input.test)">
					Search
				</button>
			</label>
        </div>
    </ion-content>
</ion-modal-view>