<ion-view view-title="Community Groups">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-funnel" ng-click="openGroupFilterModal()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card" ng-repeat="group in groups">
            <div ng-click="viewDetails(group._id)">
                <div class="item bold">
                    {{group.name}}
                </div>

                <div class="item">
                    <h2>
                        <i class="icon ion-ios-time dark"></i>
                        {{group.time}}
                    </h2>
                    <h2>
                        <i class="icon ion-android-calendar dark"></i>
                        {{group.days}}
                    </h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>