<ion-view view-title="{{group.name}}">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-icon-left">
                <i class="icon ion-person dark"></i>
                {{group.leader}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ios-time dark"></i>
                {{group.time}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-android-calendar dark"></i>
                {{group.days}}
            </div>
            
            <div class="item item-body">
                {{group.description}}
            </div>
        </div>
        <button class="button button-block button-energized" ng-click="openSignupModal()">Join this Group</button>
    </ion-content>
</ion-view>