<ion-view view-title="Ministry Teams">
    <ion-content padding="true">
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img src="{{team.url}}">
                <h2>{{team.name}}</h2>
                <p>{{min}}</p>
                <!--<p>{{leader}}</p>-->
            </div>

            <div class="item item-body">
                {{team.description}}
            </div>
        </div>
        <button class="button button-block button-calm icon-left ion-social-facebook" ng-click="openInFacebook()">Join this team!</button>
    </ion-content>
</ion-view>