<ion-view >
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-nav-buttons side="right" >
        <button class="button button-icon button-clear ion-ios-close-empty" ng-click="clearSearch()" ng-if="isSearching"></button>
        <button class="button button-icon button-clear ion-ios-search-strong" ng-click="openSearch()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card" ng-repeat="article in articles">
            <div ng-click="view_selected_article(article)">
                <div class="item">
                    <h2><b>{{article.title}}</b></h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
