/* Empty. Add your own CSS if you like */
.bold {
    font-weight: bold;
}

.disabled {
    opacity: 0.4;
}

.button-text {
    font-size: 40%;
    line-height: 40%;
}

.button-text-icon {
  display: block;
  font-size: auto;
  margin-bottom: 3px !important;
}

.no-border-bottom {
    border: 0px !important;
}

.menu-header-image {
  margin:auto;
  padding: auto;
  height: 75%;
  max-height: auto;
}

.title-image {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.splash-div {
  width: 100%;
  padding-bottom: 20px;
}

.splash-img {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.menu-list {
  position: relative;
  top: 80%;
}
